@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
}

/* AntD Override */
input {
    border-radius: 0 !important;
    border: 2px solid rgba(128, 128, 128, 0.5) !important;
    height: 40px !important;
}
input:focus, .ant-picker {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid black !important;
}

label {
    font-size: 16px !important;
    color: black !important;
}

.ant-form-item {
    margin: 10px 0 !important;
}

.primary-button {
    background-color: #005555 !important;
    border-color: #005555 !important;
    height: 40px !important;
    width: 100% !important;
    color: #fff !important;
    font-size: 16px !important;
    text-transform: uppercase;
    width: max-content !important;
}

.ant-picker-input input {
    border: none !important;
}

.ant-picker {
    border-radius: 0 !important;
    border: 2px solid rgba(128, 128, 128, 0.5) !important;
    height: 40px !important;
}

/* Common Styling */

.spinner-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.ant-spin-dot {
    width: 5rem;
    height: 5rem;
}

.ant-spin-lg .ant-spin-dot i {
    width: 40px;
    height: 40px;
    /* background-color: #fff !important; */
}

.page-title {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.833);
    font-weight: bold;
}

.card {
    box-shadow: 0 0 2px gray;
    border-radius: 0 !important;
    cursor: pointer !important;
}

.card-number{
    border-right: 2px solid rgba(128, 128, 128, 0.5) !important;
    height: inherit !important;
    margin-right: 10px !important;
    text-align: center !important;
    padding: 5px !important;
}
.card-title {
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.627);
}
.normal-text {
    font-size: 1rem;
}

.anchor {
    color: black !important;
    text-decoration: underline ;
    font-size: 16px !important;
}

.anchor:hover {
    text-decoration: underline !important;
}

/* Authentication Pages */

.authentication {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005555 !important;
}

.authentication-form {
    width: 400px;
}

.authentication .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: orangered;
    color: white;
    max-width: max-content;
    padding: 7px 15px;
    margin-left: -40px;
    border-bottom-left-radius: 10px;
}