.main {
    padding: 20px;
}

.sidebar {
    background-color: #005555;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    min-height: 100%;
    padding: 10px;
}



.content {
    width: 100%;
    height: 100%;
}

.header {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 20px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    height: 82vh;
    width: 100%;
}

.menu {
    margin-top: 100px;
    padding: 0 10px;
}

.menu-item {
    margin-top: 30px;
}

.menu-item a {
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
}

.menu-item i {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}

.active-menu-item {
    color: white;
    background-color: #013737;
    padding: 5px;
    border-radius: 5px;
}
.header-action-icon {
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
        .menu{
        padding: 0 5px;
    }
}